.form-container {
  grid-area: c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3em;
}

.select-element {
  background-color: var(--onyx);
  color: var(--cream);
}

.list-element {
  width: 4em;
}

.list {
  list-style: none;
}