.form-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
}

.form-element {
  background-color: var(--onyx);
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-label {
  background-color: var(--pink);
  color: var(--onyx);
  cursor: pointer;
}

.form-select {
  margin-top: .5em;
  font-size:.85em;
  background-color: var(--onyx);
  color: var(--pink);
}


.form-button {
  width: 45%;
}

