.form-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width:60%;
}

.form-element {
  background-color: var(--onyx);
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;

}

.form-label {
  background-color: var(--pink);
  color: var(--onyx);
  cursor: pointer;
}

.label-p-el {
  font-size: 1em;
}

.form-select {
  margin-top: .5em;
  background-color: var(--onyx);
  color: var(--pink);
}

.form-button {
  width: 45%;
}

