:root {
  --tea: hsla(89, 36%, 75%, 1);
  --pink: hsla(315, 80%, 92%, 1);
  --onyx: hsla(219, 13%, 26%, 1);
  --cadet: hsla(220, 13%, 68%, 1);
  
  --main-font: 'Inconsolata', 'Helvetica', sans-serif;

  box-sizing: border-box;

  font-family: var(--main-font);
}

.wrap {
  text-align: center;
}

.section {
  background-color: var(--onyx);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--pink);
}
